<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tempus</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,800" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color: black; border: none">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" onclick="return false;" style="cursor: default; color: white; font-weight: 800">
                        T&nbsp;&nbsp;E&nbsp;&nbsp;M&nbsp;&nbsp;P&nbsp;&nbsp;U&nbsp;&nbsp;S
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/calendar" onclick="home.submit()" style="color: white">Calendar</a></li>
                    <li><a href="/todaystasks" style="color: white">Today's Tasks</a></form></li>
                    <li><a href="/addtask" style="color: white">Add Tasks</a></form></li>
                </ul>
            </div>
        </nav>
    </body>
</html>